 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Nunito Sans', sans-serif;
    color: rgb(44, 44, 109) */
}

a {
    text-decoration: none;
}
.wrapper {
    display: flex;
    flex-direction: column;

}



div {
    /* border: 1px black solid; */
    /* height: 50px; */
    /* width: 25%; */
    /* text-align: center;
    line-height: 50px;
    font-size: 14px;
     */
}

header {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    border: 1px black solid;
    z-index: 1;
    top: 0;
}

.menu {
    width: 40%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
}

.myname {
    width: 300px;
    height: 70px;
    /* background-color: pink; */
    line-height: 70px;
    font-size: 28px;
    padding: 0 0 0 20px;
    color: rgb(3, 3, 97)

}

.top {
    width: 100%;
    height: 590px;
    font-size: 50px;
    padding-top: 50px;
    /* border: 10px red solid; */
    margin-top: 100px;
    display: flex;
    justify-content: center;
    background-color: rgb(25, 25, 97);
    align-content: flex-end;
    background-image: url("images/codeImage.jpg");
   
    
    
}

.socialMedia{
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

.socialMediaBlock{
    width: 900px;
    height: 75px;
    line-height: 75px;
    background-color: rgb(25, 25, 97);
    color: white;
    animation: slideDown 2s;
    position: absolute;


}

.social-icon {
    padding: 0 10px;
    font-size: 24px;
    color: white;
  }
  
  .social-icon:hover {
    color: #6a8192;
  }


.picture {
    /* border: black 2px solid; */
    width: 450px;
    height: 500px;
    margin: 35px 0 0 0;  
}

.picture img {
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    animation: pictureSlideIn 2s;
  
    
}

.contactInfo {
    /* border: red 2px solid; */
    width: 450px;
    height: 500px;
    margin: 35px 0 0 0;
    background-color: white;
    padding: 75px;
    font-size: 28px;
    text-align: left;
    line-height: 1em; 
    animation: infoSlideIn 2s;
    
    
}

@keyframes pictureSlideIn {
    from {margin-left: -200px;
    opacity: 10%;}
    to {margin-left: 0px;
    opacity: 100%;}
  }

  @keyframes infoSlideIn {
    from {  margin-right: -200px;
            opacity: 10%;}
    to {margin-right: 0px;
        opacity: 100%;}
  }

  @keyframes slideDown {
    from {  margin-top: -50px;
            opacity: 10%;}
    to {margin-top: 0px;
        opacity: 100%;}
  }




.headingName {
    
    font-size: 30px;
}

.tagline {
    font-size: 18px;
    
}

.textLine {

    font-size: 13px;
    

}

.heading {
    font-size: 15px;
    font-weight: bold;
    
}

.intro {
    width: 100%;
    height: 350px;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.intro-heading{
    font-size: 2em;
}

.textblurb {
    width: 50%;
    font-size: 18px;
    text-align: center;
    line-height: 1.75em;
}

.skills {
    height: 350px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(35, 35, 121);
    /* background-image: url("images/codeImage.jpg"); */
    margin-bottom: 100px;
    padding: 0px;
    

}

/* .skillsWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
} */

.skillsTitle {
    width: 100%;
    height: 100px;
    padding-top: 0px;
    background-color: rgb(25, 25, 97);
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.skillsItem1 {
    animation: createBox 1s;
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color:rgb(36, 69, 102);
    color: white;
}

.skillsItem2 {
    animation: createBox 1.5s;
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color:rgb(36, 69, 102);
    color: white;
}

.skillsItem3 {
    animation: createBox 2s;
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color:rgb(36, 69, 102);
    color: white;
}

.skillsItem4 {
    animation: createBox 2.5s;
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color:rgb(36, 69, 102);
    color: white;
}

.skillsItem5 {
    animation: createBox 3s;
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color:rgb(36, 69, 102);
    color: white;
}

.skillsItem6 {
    animation: createBox 3.5s;
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color:rgb(36, 69, 102);
    color: white;
}


@keyframes createBox {
    from{
        width: 0px;   
    }

    to {
        width: 400px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;


}

.projects {
    height: 1600px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0 0 50px 0;


}

.projectTitle {
    width: 100%;
    height: 100px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.projectItem {
    width: 450px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color:rgb(36, 69, 102);
    color: white;


}

.projectItem img {
    width: 425px;
    height: 275px;

}

.projectDescription {
    width: 450px;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    background-color: white;
    font-size: 13px;
    padding: 10px;
    line-height: 24px;


}

.rowProject {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;


}

.projectLinks {
    text-shadow: 2px 2px 8px rgb(134, 130, 130);
}

.contact {
    height: 500px;
    border: 1px solid black;
    display: flex;

}

.emailForm {
    width: 500px;
    height: 350px;
    margin: 40px;
    /* background-color: blue; */
    padding: 50px;
    text-align: left;
    line-height: 2em;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;  
  border: 1px black solid;
  background-color:rgb(25, 25, 97);;
  color: white; 
  display: flex;
  justify-content: center;
  /* padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 14px; */
}

.footer-text {
  margin: 0;
  position: absolute;
  top: 50%;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
}


@media screen and (max-width: 750px) {
    
    .myname {
        font-size: 20px;
    }

   div {
        font-size: 10px;
    }
}

@media screen and (max-width: 450px) {
    
    .myname {
        font-size: 15px;
    }

   div {
        font-size: 8px;
    }
}
